.legal-container {
  text-align: center;
}

.legal-title {
  text-align: center;
}

.button {
  margin: 0;
  margin-right: 50px;
  padding: 25px;
  width: 150px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.legal-input {
  margin-left: 90px;
  text-align: center;
}

.preview {
  margin-left: 250px;
  margin-right: 250px;
  text-align: start;
}
